body {
    background-color: #111;
}

#header {
    width: 100%;
    position: fixed;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 9;
    background-color: #111;
}

.navigation {
    display: flex;
    flex: 4;
    margin-left: 0.5rem;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.navigation li {
    font-size: 0.8rem;
    margin-right: 1rem;
    white-space: nowrap;
    color: #eee;
}

.navigation .active {
    position: relative;
    color: #fff;
    font-weight: bold;
}

.navigation .active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.1rem;
    height: 0.25rem;
    background-color: #FDDDAC;
    border-radius: 0.25rem;
}
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 9;
    background-color: #111;
}

footer ul {
    display: flex;
}

footer li {
    width: 20%;
    display: flex;
    justify-content: center;
}

footer div {
    text-align: center;
    position: relative;
}

footer svg {
    font-size: 1rem;
}

footer p {
    font-size: 0.5rem;
    line-height: 0.8rem;
}

footer a {
    color: #fff;
}

footer .player {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    margin: 0.2rem 0.8rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #C6CACD;
}

footer .record {
    position: absolute;
    bottom: -0.4rem;
    left: -0.1rem;
}

.record svg {
    font-size: 2rem;
    border-radius: 2rem;
    background-color: yellow;
}

.player .music-name {
    margin-left: 2.5rem;
    font-size: 0.6rem;
    color: #fff;
    flex: 1;
}

.player .play-btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 0.2rem;
}

.play-btn svg {
    font-size: 1.2rem;
}
/* footer end */
.box{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem 0;
}
.user-vipcontent{
    background-color: #1e1e1e;
    margin: 0.8rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.user-vipcontent .user{
    display: flex;
    align-items: center;
}
.user-vipcontent .detail{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.detail span{
    font-size: 0.8rem;
    color: #fff;
}
.detail p{
    font-size: 0.6rem;
    color: #aaa;
}
.user-vipcontent img{
    width: 2rem;
    border-radius: 2rem;
}
.user-vipcontent .button{
    font-size: 0.6rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.3rem;
    background-color: #F2D295;
}
.user-vipcontent .privilege{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.05rem solid #ddd;
    margin-top: 0.5rem;
    padding: 0.8rem;
}
.privilege li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.8rem;
    
}
.privilege svg{
    background-color: #F2D295;
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
    border-radius: 1rem;
}
.privilege span{
    font-size: 0.6rem;
    color: #F2D295;
    margin-top: 0.2rem;
}
.adv{
    display: flex;
    margin: 0.5rem;
}
.adv .lbox{
    width: 50%;
    margin-right: 0.3rem;
}
.lbox img{
    width: 100%;
    border-radius: 1rem;
}
.adv .rbox{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.rbox img{
    flex: 1;
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
}
.day-recommend{
    background-color: #1e1e1e;
    margin: 0.8rem;
    padding: 0.8rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}
.day-recommend .header{
    display: flex;
    align-items: center;
}
.day-recommend .title{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.day-recommend .title span:nth-of-type(1){
    color: #aaa;
    font-size: 0.7rem;
}
.day-recommend .title span:nth-of-type(2){
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0.2rem;
}
.day-recommend .header .iconfont{
    font-size: 1.5rem;
    background-color: #F2D295;
    padding: 0.2rem 0.5rem;
    border-radius: 0.8rem;
}
.day-recommend ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: auto;
    scrollbar-width: none;
}
.day-recommend li {
    width: 100%;
    display: flex;
    padding: 0.5rem 0rem;
    align-items: center;
}

.day-recommend .albumcover {
    width: 2.8rem;
    border-radius: 0.2rem;
}

.day-recommend .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 0.5rem;
}

.day-recommend .name .music-name {
    color: #fff;
    font-size: 0.8rem;
}

.day-recommend .name p {
    display: flex;
    align-items: center;
    color: #ddd;
    font-size: 0.6rem;
}
.day-recommend p span{
    color: #F2D295;
    font-size: 0.4rem;
    border: 0.05rem solid #F2D295;
    margin-right: 0.1rem;
}
.day-recommend ul .iconfont{
    color: #ddd;
    padding: 0.2rem;
    border: 0.05px solid #ddd;
    border-radius: 0.8rem;
    
}