@font-face {
  font-family: "iconfont"; /* Project id 4289127 */
  src: url('iconfont.woff2?t=1703077758328') format('woff2'),
       url('iconfont.woff?t=1703077758328') format('woff'),
       url('iconfont.ttf?t=1703077758328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SQ:before {
  content: "\e6cd";
}

.icon-musicAlbum:before {
  content: "\ea0b";
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-icon-dress-copy:before {
  content: "\fbdd";
}

.icon-fankui:before {
  content: "\e738";
}

.icon-naozhong:before {
  content: "\e890";
}

.icon-tuichu:before {
  content: "\e645";
}

.icon-geci:before {
  content: "\e844";
}

.icon-wifi:before {
  content: "\e7e0";
}

.icon-icon-dress_up:before {
  content: "\e721";
}

.icon-sirenyunpan:before {
  content: "\e790";
}

.icon-xiaoxitongzhitixinglingshenglingdang-xianxing:before {
  content: "\e793";
}

.icon-airudiantubiaohuizhi-zhuanqu_youxi:before {
  content: "\e69d";
}

.icon-jinggao:before {
  content: "\e625";
}

.icon-huiyuan:before {
  content: "\e6b0";
}

.icon-huodongzhongxin:before {
  content: "\e62a";
}

.icon-z_nav_icon_SIM_nor:before {
  content: "\e604";
}

.icon-shezhi:before {
  content: "\e63c";
}

.icon-zhongcao-1:before {
  content: "\e603";
}

.icon-dengpao:before {
  content: "\e605";
}

.icon-bofang:before {
  content: "\e60b";
}

.icon-top1:before {
  content: "\e608";
}

.icon-top2:before {
  content: "\e607";
}

.icon-top3:before {
  content: "\e606";
}

.icon-24gl-play:before {
  content: "\ea6d";
}

.icon-ic_cd:before {
  content: "\e6b7";
}

.icon-jiantouyou:before {
  content: "\e658";
}

.icon-tianjia:before {
  content: "\e63b";
}

.icon-yingyongshangdian:before {
  content: "\e61f";
}

.icon-iconfontscan:before {
  content: "\e601";
}

.icon-hongbao:before {
  content: "\e633";
}

.icon-zuijinfangwen:before {
  content: "\e64f";
}

.icon-fuwu:before {
  content: "\e602";
}

.icon-daoru:before {
  content: "\e624";
}

.icon-shouji:before {
  content: "\e631";
}

.icon-hongbao1:before {
  content: "\e6da";
}

.icon-dingyue:before {
  content: "\e63d";
}

.icon-duomeiti:before {
  content: "\e675";
}

.icon-dingyue1:before {
  content: "\fb59";
}

.icon-xiazaiwenjian:before {
  content: "\fbdc";
}

.icon-shoucang:before {
  content: "\ecd6";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xihuan1:before {
  content: "\e870";
}

.icon-playlist3:before {
  content: "\ea84";
}

.icon-next-fill:before {
  content: "\e6bb";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-dvd_flat:before {
  content: "\e63e";
}

.icon-erji-active:before {
  content: "\e688";
}

.icon-dkw_wode--copy:before {
  content: "\ecc2";
}

.icon-dkw_wode-:before {
  content: "\e60f";
}

.icon-heijiaochangpian:before {
  content: "\e60a";
}

.icon-shanzi:before {
  content: "\e609";
}

.icon-book:before {
  content: "\e600";
}

.icon-ertong:before {
  content: "\e621";
}

.icon-shouyinjiB:before {
  content: "\ecbc";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-songlist-01:before {
  content: "\e703";
}

.icon-caidan1:before {
  content: "\e60e";
}

.icon-musician2:before {
  content: "\e623";
}

.icon-daochu1024-02:before {
  content: "\e615";
}

.icon-changpian:before {
  content: "\ebd0";
}

.icon-zuanshihuiyuan:before {
  content: "\e63a";
}

.icon-zuanshihuiyuan1:before {
  content: "\e677";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-mic:before {
  content: "\e88e";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-_maikefeng:before {
  content: "\e618";
}

.icon-microphone:before {
  content: "\e697";
}

.icon-zuanshi:before {
  content: "\e61d";
}

.icon-icon_zhibo-mian:before {
  content: "\e64d";
}

.icon-icon_zhibo-xian:before {
  content: "\e64e";
}

.icon-erji:before {
  content: "\e61a";
}

.icon-a-zhibokecheng:before {
  content: "\e6d0";
}

.icon-a-zhibokecheng-copy:before {
  content: "\ecbe";
}

.icon-erji-copy:before {
  content: "\ecbf";
}

.icon-icon_zhibo-xian-copy:before {
  content: "\ecc0";
}

.icon-zuanshi-copy:before {
  content: "\ecc1";
}

.icon-a-1-copy:before {
  content: "\ecbd";
}

.icon-shouyeweixuanzhong:before {
  content: "\e65f";
}

.icon-shouyexuanzhong:before {
  content: "\e660";
}

.icon-wode:before {
  content: "\e630";
}

.icon-a-1:before {
  content: "\e673";
}

.icon-a-11:before {
  content: "\e674";
}

